/*v0.0.3*/
.logged-in:not(.full-width) header.Header-old {
  padding-left: calc(50% - 490px) !important;
  padding-right: calc(50% - 490px) !important;
}

.logged-in:not(.full-width) header.Header-old > .d-flex {
  padding: 0 !important;
}
/*v0.0.4*/
.logged-in:not(.full-width) header.Header {
  padding-left: calc(50% - 490px) !important;
  padding-right: calc(50% - 490px) !important;
}