.logged-in:not(.full-width) header.Header {
  padding-left: calc(50% - 490px);
  padding-right: calc(50% - 490px);
}

.logged-in:not(.full-width) header.Header > .d-flex {
  padding: 0 !important;
}
