/*v0.0.3*/
.logged-in:not(.full-width) header.Header-old {
  padding-left: calc(50% - 490px) !important;
  padding-right: calc(50% - 490px) !important;
}

.logged-in:not(.full-width) header.Header-old > .d-flex {
  padding: 0 !important;
}

/*v0.0.4, v0.0.8*/
.logged-in:not(.full-width):not(.notifications-v2) header.Header {
  padding-left: calc(50% - 490px) !important;
  padding-right: calc(50% - 490px) !important;
}

/*v0.0.6, v0.0.7*/
.logged-in.page-profile:not(.full-width) header.Header {
  padding-left: calc(50% - 624px) !important;
  padding-right: calc(50% - 624px) !important;
}